language: cpp

matrix:
 include:
  - name: "LINUX BUILD"
   os: linux
   compiler: gcc
   sudo: required
#   dist: 
#    - trusty
#    - xenial
#    - bionic
   before_install: if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; sudo apt-get install --yes devscripts build-essential lintian dh-make libfontconfig1 mesa-common-dev libgul-mesa-dev qtdeclarative5-dev qt5-default libjack-jack2-dev sqlite3; fi
   script:
   - sudo qmake bulkClub.pro
   - sudo make
 
 - name: "OSX BUILD"
   os: osx
   compiler:
     - gcc
#     - clang
#   osx_image: 
#     - xcode9.4
#     - xcode10
   before_install: if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; brew install ruby-build; brew install rbenv; rbenv install 2.6.3; rbenv global 2.6.3; brew install qt5; brew link qt5 --force; fi
   script:
   - qmake -spec macx-xcode bulkClub.pro
   - xcodebuild -list -project bulkClub.xcodeproj
   - xcodebuild -scheme bulkClub build




#before_install:
#- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; brew install ruby-build; brew install rbenv; rbenv install 2.6.3; rbenv global 2.6.3; brew install qt5; brew link qt5 --force; fi
#- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; sudo apt-get install --yes devscripts build-essential lintian dh-make libfontconfig1 mesa-common-dev libgul-mesa-dev qtdeclarative5-dev qt5-default libjack-jack2-dev sqlite3; fi
    
#script:
#- qmake -spec macx-xcode bulkClub.pro
#- xcodebuild -list -project bulkClub.xcodeproj
#- xcodebuild -scheme bulkClub build
